<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:sport.properties"/>
	<!-- Define your beans here -->

	<bean id="myFortune" class="com.rkjha.springdemo.MyFortuneService"></bean>


<!-- 	<bean id="myCoach" class="com.rkjha.springdemo.BaseballCoach">
		<constructor-arg ref="myFortune"></constructor-arg>
	</bean>
	
	 <bean 
	 	id="cricketCoach" 
	 	class="com.rkjha.springdemo.CricketCoach" 
	 	init-method="init" 
	 	scope="prototype">
	 	
		<property name="fortuneSvc" ref="myFortune" ></property>
		<property name="name" value="${foo.name}"></property>
		<property name="emailAddress" value="${foo.email}"></property>
	</bean>  -->
	
	 	<bean id="myCoach"
 		class="com.rkjha.springdemo.TrackCoach"
 		init-method="doMyStartupStuff"
 		destroy-method="destroy"
 		scope="prototype">	
 		
 		<!-- set up constructor injection -->
 		<constructor-arg ref="myFortune" />
 	</bean>
   <bean id="customProcessor"
    		class="com.rkjha.springdemo.MyCustomBeanProcessor">
   	</bean>


</beans>





